/* biome-ignore-start lint/suspicious/noUnknownAtRules: tailwind require */
@import "tailwindcss";

@theme {
    --breakpoint-xs: 360px;
    --breakpoint-2xs: 500px;
}

@theme {
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);
}

@theme {
    --color-primary: #20ab6c;
    --color-primary-content: #d3f7e7;
    --color-primary-dark: #188051;
    --color-primary-light: #28d687;

    --color-secondary: #2076ab;
    --color-secondary-content: #d3e9f7;
    --color-secondary-dark: #185880;
    --color-secondary-light: #2894d6;

    --color-background: #f0f0f0;
    --color-surface: #fbfbfb;
    --color-surface-elevated: #ffffff;
    --color-outline: #dfdfdf;

    --color-copy: #262626;
    --color-muted: #666666;
    --color-subtle: #8c8c8c;

    --color-success: #20ab20;
    --color-warning: #abab20;
    --color-error: #ab2020;

    --color-success-content: #d3f7d3;
    --color-warning-content: #000000;
    --color-error-content: #f7d3d3;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
    :where(.dark, .dark *) {
        --color-background: #1a1a1a;
        --color-surface: #262626;
        --color-surface-elevated: #2c2b2e;
        --color-outline: #404040;

        --color-copy: #fbfbfb;
        --color-muted: #d9d9d9;
        --color-subtle: #a6a6a6;
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

/* biome-ignore-end lint/suspicious/noUnknownAtRules: tailwind require */

html {
    /* 
   * Tailwind uses REM unit to define their component's size, so 
   * when the font size is changed on the HTML element, all layout is redimensioned.
   *
   * The font size was defined on HTML element to create a threshold (min size) that limit 
   * how much the user will be able to decrease the viewport size, using the window
   * resize or zoom. This has the goal of avoiding layout broke in the very small viewport.
   *
   * To create this min size when the user increase the zoom level, it was used VW unit to 
   * define the font size when the viewport size achieve the threshold. 
   * As the zoom is increased:
   *  - the viewport is decreased in pixels
   *  - so each VW unit result in less pixels
   *  - but for a small viewport fills the same screen size, each pixel unit result in more centimeters
   *  - using VW unit to define the font size that is used to calculate the REM unit used in all layout, 
   *    turn out of keeping everything on the screen with the same size, creating kind of a minimum zoom level
   * 
   * The browser default font size was disable, since the user can use
   * the zoom to achieve the same result. This decision was based in the
   * follow discusion: https://gist.github.com/aaugustin/d6351f12f4604d3343ee5ecf691b3918
   * It was considered that when the user resize the screen or alter the zoom level,
   * the efect produced is the same, that the viewport is resized. Since maintain responsive layout
   * on screen resize is a inavitable task, doing this on zoom change, turn out to be the same activity
   * and doesn't add more effort to maintain responsive layout like when font resize is enabled.
   */
    --font-size-px: 16;
    --threshold-px: 320;
    --threshold-vw: calc(var(--font-size-px) * 100 / var(--threshold-px));

    font-size: clamp(
        1px,
        calc(var(--threshold-vw) * 1vw),
        calc(var(--font-size-px) * 1px)
    );
}
